<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/buttons.css" />
  <title>Reusable Components Testing</title>
</head>

<body>
  <h1>Reusable Components Testing</h1>
  <secondary-btn onclick="()=>alert('hello')" class="btn">Hello</secondary-btn>
  <danger-btn style="width: 100px;" class="btn">Danger</danger-btn>

  <div></div>
  <script type="module" src="../scripts/main.js"></script>
</body>

</html>